* {
    font-family: "Roboto", sans-serif;

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
    --pink: hsl(347, 99%, 65%);
    --orange: hsl(12.75deg 100% 62.16%);
    --tomato-transparent: hsl(4deg 100% 67% / 20%);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-slate-grey);
    margin: 0;
    background-color: var(--dark-slate-grey);
}


/* Universal */

.hidden {
    display: none !important;
    /* Using !important for easier change between elements in the same html file. */
}


.wrapper {
    max-width: 650px;
    padding: 1.5rem;
    margin: auto;
}

.button {
    width: 100%;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    padding: 1rem 1.5rem;
    border-radius: .6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    border: none;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(to right, var(--pink), var(--orange));
}

/* Subscription card */

.subscribe-card {
    background-color: var(--white);
}

.subscribe-card__image {
    margin-bottom: 1.8rem;
    width: 100%;
}


.subscribe-card__header {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.subscribe-card__description {
    margin-bottom: 1rem;
}


.subscribe-card__list {
    padding: 0;
    margin-bottom: 2rem;
}

.subscribe-card__list-features {
    list-style-type: none;
    margin-bottom: .6rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.subscribe-card__list-features img {
    align-self: flex-start;
}


/* Form */

.subscribe-card__form-group {
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: .6rem 0;
}

.subscribe-card__form-input {
    border-radius: .6rem;
    border: 1px solid lightgray;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;

}


/* Error */

.subscribe-card__form-input--error {
    border: 1px solid var(--tomato);
    background-color: var(--tomato-transparent);
    color: var(--tomato);
}



.subscribe-card__form-input:hover {
    cursor: pointer;
}

.subscribe-card__form-error {
    color: var(--tomato);
}

.subscribe-card__form-button {
    width: 100%;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    padding: 1rem 1.5rem;
    border-radius: .6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


/* Success card */

.success-card {
    background-color: var(--white);
    padding-top: 8rem;
    height: 100vh;
    max-width: 520px;
}

.success-card__image {
    margin-bottom: 2rem;
}

.success-card__header {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;

}

.success-card__description {
    margin-bottom: 7rem;
}

.success-card__description--bold {
    font-weight: 900;

}


@media (min-width:376px) {

    .subscribe-card,
    .success-card {
        border-radius: 2rem;
    }
}

@media (min-width: 520px) {
    .success-card {
        max-height: 520px;
        width: 520px;
        align-content: center;
        padding: 4rem;
    }

    .success-card__header {
        font-size: 3.4rem;
        line-height: 3.4rem;
        margin-bottom: 2rem;
    }

    .success-card__description {
        margin-bottom: 2rem;
    }
}

@media (min-width:1024px) {
    .subscribe-card {
        display: flex;
        display: flex;
        height: 640px;
        width: 980px;
        flex-direction: row-reverse;

    }


    .subscribe-card__image {
        padding: 1.2rem;
        height: 100%;
        width: 100%;

    }

    .wrapper {
        max-width: 650px;
        padding: 1.5rem;
        margin: auto;
    }

    .wrapper {
        max-width: 47%;
    }


}